@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

h1 {
    font-family: 'Bangers', cursive;
    font-size: 6rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    color: rgb(169, 14, 24);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

th {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: rgb(0, 255, 30);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

td {
    font-family: 'Bangers', cursive;
    font-size: 1rem;
    color: rgb(156, 183, 200);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
